In [3]:
import pandas as pd
Location = "D2.csv"
df = pd.read_csv(Location)
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,12097,50,12,97,36740,422,NaN,NaN,Osceola County,268685,128170,172493,72293,268685,172493
1,12007,50,12,7,99999,999,NaN,NaN,Bradford County,28520,11011,26088,9605,28520,26088
2,12027,50,12,27,11580,999,NaN,NaN,DeSoto County,34862,14590,32209,13608,34862,32209
3,12037,50,12,37,99999,999,NaN,NaN,Franklin County,11549,8652,11057,7180,11549,11057
4,12093,50,12,93,36380,999,NaN,NaN,Okeechobee County,39996,18509,35910,15504,39996,35910

In [7]:
# Create the bin dividers
bins = [0, 60, 70, 80, 90, 120]
# Create names for the four groups
group_names = ['F', 'D', 'C', 'B', 'A']

In [14]:
df['lettergrade'] = pd.cut(df['COUNTY'], bins,
 labels=group_names)
df

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000,lettergrade
0,12097,50,12,97,36740,422,NaN,NaN,Osceola County,268685,128170,172493,72293,268685,172493,A
1,12007,50,12,7,99999,999,NaN,NaN,Bradford County,28520,11011,26088,9605,28520,26088,F
2,12027,50,12,27,11580,999,NaN,NaN,DeSoto County,34862,14590,32209,13608,34862,32209,F
3,12037,50,12,37,99999,999,NaN,NaN,Franklin County,11549,8652,11057,7180,11549,11057,F
4,12093,50,12,93,36380,999,NaN,NaN,Okeechobee County,39996,18509,35910,15504,39996,35910,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,12067,50,12,67,99999,999,NaN,NaN,Lafayette County,8870,3328,7022,2660,8870,7022,D
63,12081,50,12,81,35840,494,NaN,NaN,Manatee County,322833,172690,264002,138128,322833,264002,B
64,12091,50,12,91,18880,999,NaN,NaN,Okaloosa County,180822,92407,170498,78593,180822,170498,A
65,12073,50,12,73,45220,999,NaN,NaN,Leon County,275487,124136,239452,103974,275487,239452,C
66,12115,50,12,115,35840,494,NaN,NaN,Sarasota County,379448,228413,325957,182467,379448,325957,A

In [15]:
pd.value_counts(df['lettergrade'])

F    29
A    15
B     6
C     5
D     5
Name: lettergrade, dtype: int64

NameError: name 'lettergrade' is not defined